:global {
  @import '~normalize-scss/sass/normalize';
  @include normalize($exclude: (document, sections));

  html {
    font-size: 10px;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    padding: 0;
    position: relative;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
  }

  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    opacity: .54;
    font-size: 0.6em;
  }

  button {
    margin: 0;
    padding: 0;
  }
}
